.App-body {
    border-top: 4px solid #b4220e;
    border-bottom: 4px solid #b4220e;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }
  
  .App-body p {
    margin: 3rem;
  }
  
  .login-container {
    display: flex;
    justify-content: 1px;
    margin-bottom: 1rem;
    margin-left: 50px;
  }
  
  .input-group-r{
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    
  }
  
  .input-group label {
    margin-right: 0.5rem;
  }
  
  .small-input {
    width: 200px; 
  }
  
  .App-body button {
    width: 40px;  
    float: right; 
    margin-left: 20px; 
  }